/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: $breakpoint-md;
    width: 100%;
    margin: 0 auto;
}
